body {
    text-align: center;
    background-color: azure;
}

.nav-list, .recipes-list {
    list-style: none;
}

.nav-list {
    display: ruby;
}

.ingredients, .steps {
    margin-left: 25%;
    margin-right: 25%;
}

.recipe-img {
    border-radius: 20px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
}

